* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth
}

.Home {
    @apply w-full flex flex-col
}

.first {

    background: radial-gradient(30.56% 76.04% at 72.78% 14.44%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url(../images/image1.png)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;

    /* background-image: url(../images/image1.png); */
    /* background-color: rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%; */
    /* background-blend-mode: overlay; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @apply pt-[17.56rem] pl-[5.79rem] flex flex-col h-[68.93rem] w-full
}


.bold {
    @apply font-black
}

.small {
    letter-spacing: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    @apply text-base font-medium leading-5 text-white w-[15.86rem]
}

.heading {
    @apply font-bold text-[4rem] text-white leading-[4.71rem] font-sans
}

.james {
    @apply text-white mt-[1.71rem] leading-7 font-normal text-base w-[17.36rem]
}

.yellow {
    @apply text-[#FFD050]
}

.para {
    @apply text-white font-normal text-base leading-8 mt-[1.143rem] w-[42.79rem]
}

.but1 {
    @apply mt-[3.43rem] bg-[#FFD050] h-[4rem] w-[14.6rem] flex items-center justify-center
}


/* gap-[2.29rem] */
.second {
    @apply flex flex-row h-[57.43rem] mt-[9.143rem] w-full pr-[5.57rem] pl-[5.714rem] mb-[9.143rem] justify-between
}

.cont {
    border: 0.071rem solid #6D6E76;

    @apply mt-[2.29rem] p-[2.29rem] h-[51.71rem] w-[52.36rem]
}

.feat {
    color: #232536;
    letter-spacing: -0.143rem;
    @apply font-bold leading-[3.43rem] text-[2.57rem]
}

/* .feature {
} */

.doe {

    color: #4C4C4C;
    @apply leading-[1.43rem] font-medium mt-[2.29rem] mb-[1.14rem]
}

.lorem {
    color: #232536;
    letter-spacing: -0.071rem;

    @apply leading-10 font-bold text-[2rem] w-[47.8rem] mb-[1.142rem]
}

.ipsum {
    @apply text-[#6D6E76] w-[39.4rem] leading-8 text-[1.143rem] font-normal mb-[3.43rem]
}

/* all posts */

.allpost {
    @apply h-[57.43rem] w-[36.93rem] flex-col
}

.all-post-head {
    @apply flex flex-row gap-[23rem] flex items-center
}

.all-post-head-h {
    @apply h-[3.43rem] text-[#232536] font-bold leading-[3.43rem] text-[2.571rem]
}

.all-post-head-p {
    @apply text-[#592EA9] font-normal text-[1.143rem] leading-[2rem]
}

/* third */

.third {
    @apply pl-[5.71rem] pr-[5.57rem]
}

/* w-[75.79rem] */
.design {
    @apply h-[1.643rem] flex flex-row justify-end ml-[15.64rem]
}

.design-yellow {
    @apply w-[60.21rem] bg-[#FFD050] h-[1.643rem]
}


.design-purple {
    @apply w-[20.14rem] bg-[#592EA9] h-[1.643rem]
}

/* w-[91.43rem] */
.thirdbox {
    @apply h-[35.71rem] flex flex-row gap-[4.36rem] pl-[5.71rem] bg-[#F4F0F8] pr-[7.71rem] justify-between
}

.thirdbox-1 {
    @apply mt-[6.86rem] w-[36.79rem] h-[22rem] flex-wrap flex flex-col
}

.about {
    @apply text-[#232536] font-semibold text-[1.14rem] leading-[1.43rem] tracking-[0.21rem] mb-[1.71rem]
}

.community {
    @apply h-[10.29rem] w-[35.3rem] text-[#232536] leading-[3.43rem] text-[2.57rem] font-bold mb-[1.143rem]
}

.dolor {
    @apply font-normal text-[1.143] leading-[2rem] text-[#6D6E76]
}

.readm {
    @apply mt-[1.143rem] font-bold leading-[2.29rem]
}

.thirdbox-2 {
    @apply flex flex-col flex-wrap mt-[7rem]
}

#mission {
    @apply text-[#232536] font-semibold text-[1.14rem] leading-[1.43rem] tracking-[0.21rem] mb-[1.71rem]
}

#content {
    @apply leading-[2.86rem] text-[2rem] w-[34.4rem] h-[5.71rem] font-bold mb-[1.143rem] text-[#232536]
}

.amet {
    @apply h-[7.76rem] w-[36.86rem] text-[#6D6E76] font-normal text-[1.143] leading-[2rem]
}

.fourth {
    @apply mt-[9.142rem] pl-[5.71rem] pr-[5.57rem]
}


.choose {
    @apply text-[#232536] font-bold text-[2.571rem] leading-[3.43rem] self-center w-[100%] flex justify-center mb-[3.43rem]
}


/* gap-[2.29rem] */
.square {
    @apply flex flex-row mb-[9.143rem] justify-between
}

.economy1 {
    border: 0.07rem solid #6D6E76;

    @apply h-[16.29rem] w-[21.142rem] p-[2.286rem] flex flex-col bg-[#FFD050]
}

.economy {
    border: 0.07rem solid #6D6E76;

    @apply h-[16.29rem] w-[21.142rem] p-[2.286rem] flex flex-col
}


.imagediv {
    @apply h-[3.43rem] w-[3.43rem] bg-[#FBF6EA] flex justify-center items-center mb-[1.143rem]
}

.squarehead {
    @apply mb-[0.29rem] font-bold text-[2rem] leading-[2.86rem] text-[#232536]
}

.squarepara {
    @apply text-[#6D6E76] leading-[2rem] font-normal text-[1.143rem] w-[16.57rem]
}

.fifth {
    @apply pl-[5.71rem] pr-[5.57rem] flex mb-[9.143rem]
}

.why {
    left: 41rem;
    margin-top: 8.64rem;
    @apply h-[42.7rem] w-[50.43rem] bg-[#FFFFFF] absolute pl-[5.714rem] pr-[5.714rem] flex flex-col
}

.we {
    @apply mt-[5.714rem] leading-[1.143rem] text-[1.143] font-semibold mb-[1.71rem]
}

.started {
    @apply text-[2rem] leading-[4.57rem] font-bold text-[#232536] max-w-[32rem] tracking-[0.143rem]
}

.elit {
    @apply w-[39rem] h-[6rem]
}

.discover {
    @apply w-[19.2rem] h-[4rem] mt-[3.43rem]
}

/* w-[67.79rem] */
.together {
    @apply h-[50.4rem]
}


/* w-[91.43rem] ml-[36.79rem] */
.authors {
    color: #232536;
    @apply text-[2.57rem] leading-[3.43rem] font-bold mb-[3.43rem] flex justify-center
}

.sixth {
    @apply flex flex-col pl-[5.71rem] pr-[5.57rem] mb-[7.714rem]
}


/* gap-[2.29rem] */
.profile {
    @apply flex flex-row justify-between
}

.seventh {
    @apply pl-[5.71rem] pr-[5.57rem] flex mb-[9.143rem] items-center justify-between
}

.featin {
    @apply text-[#6D6E76] font-bold text-[1.71rem] leading-[2.29rem] flex flex-col
}

.featout {
    @apply text-[#6D6E76] font-normal text-[0.88rem] leading-[1.43rem]
}

.logo1 {
    @apply ml-[6.143rem]
}

.logo2 {
    @apply ml-[5.36rem]
}

.logo3 {
    @apply ml-[5.213rem]
}

.logo4 {
    @apply ml-[5.29rem]
}

/* .testimonial{
    @apply 
} */

.eight {
    @apply ml-[5.71rem] mr-[5.57rem] flex flex-row h-[33.14rem] bg-[#FBF6EA] mb-[9.14rem] pl-[8rem] pr-[12.43rem]
}

.vline {
    opacity: 0.4;
    border: 1px solid #6D6E76;
    transform: rotate(90deg);
    @apply h-[0rem] w-[22.143rem] mt-[15.71rem]
}

.testimonial {
    @apply mt-[6.57rem]
}

.testi {
    @apply tracking-[0.21rem] font-semibold text-[1.43rem] leading-[1.43rem] mb-[0.86rem]
}

.say {
    @apply text-[#232536] font-bold leading-[3.43rem] text-[2.57rem] w-[24.6rem] mb-[1.14rem]
}

.sayt {
    @apply font-normal text-[1.14rem] leading-[2rem] w-[24.93re]
}

.mtop {
    @apply w-[33.5rem] mt-[5.71rem] mb-[8.64rem] text-[#232536] font-bold text-[1.71rem] leading-[2.29rem]
}

.mbottom {
    @apply flex flex-row
}

.pinfo {
    @apply ml-[1.14rem] mr-[10.1rem]
}

.id {
    @apply flex
}

.pname {
    @apply text-[#232536] font-bold text-[1.71rem] leading-[2.29rem]
}

.arrow1 {
    border-radius: 50%;
    @apply h-[4.43rem] w-[4.43rem] bg-[#232536] flex justify-center items-center
}

.arrow2 {
    border-radius: 50%;
    @apply h-[3.43rem] w-[3.43rem] bg-[#ffffff] flex justify-center items-center
}

.arrow {
    @apply flex flex-row gap-[1.71rem]
}

.ninth {
    @apply pl-[5.71rem] pr-[5.57rem] flex justify-center
}

.nin {
    @apply flex flex-col
}

.team {
    @apply text-center font-bold text-[2.37rem] leading-[3.43rem] text-[#232536] w-[29.47rem] mb-[1.14rem]
}

.content {
    width: 405px;
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    @apply text-[#6D6E76] mb-[2.29rem]
}

.join {
    width: 174px;
    height: 56px;
    align-self: center;
    @apply bg-[#FFD050] flex justify-center items-center mb-[9.14rem]
}